USE [VeMayBay]
GO
/****** Object:  Table [dbo].[BANGTRATHONGTINVEs]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGTRATHONGTINVEs](
	[LICHTRINHBAYID] [int] NOT NULL,
	[LOAIVEID] [int] NOT NULL,
	[GIAVE] [float] NOT NULL,
	[SOLUONGMAX] [int] NOT NULL,
	[GHETRONG] [int] NOT NULL,
 CONSTRAINT [PK_BANGTRATHONGTINVEs] PRIMARY KEY CLUSTERED 
(
	[LICHTRINHBAYID] ASC,
	[LOAIVEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETLICHTRINHBAYs]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETLICHTRINHBAYs](
	[LICHTRINHBAYID] [int] NOT NULL,
	[SANBAYID] [varchar](5) NOT NULL,
	[STT] [int] NOT NULL,
	[TG_CHO] [float] NOT NULL,
	[CHUYENBAYKETIEPID] [int] NULL,
 CONSTRAINT [PK_CHITIETLICHTRINHBAYs] PRIMARY KEY CLUSTERED 
(
	[LICHTRINHBAYID] ASC,
	[SANBAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUYENBAYs]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYENBAYs](
	[CHUYENBAYID] [int] NOT NULL,
	[GIOKHOIHANHTHUCTE] [datetime] NOT NULL,
	[GIODENDUKIEN] [datetime] NOT NULL,
	[MACHUYENBAY] [varchar](25) NOT NULL,
	[HANG] [nvarchar](25) NOT NULL,
	[MAYBAY] [nvarchar](25) NOT NULL,
	[GOIDICHVU] [nvarchar](255) NOT NULL,
	[HANHLYXACHTAY] [nvarchar](25) NOT NULL,
	[HANHLYKIGOI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUYENBAYs] PRIMARY KEY CLUSTERED 
(
	[CHUYENBAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANHKHACHes]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANHKHACHes](
	[HANHKHACHID] [varchar](12) NOT NULL,
	[CMNDHOACPASSPORT] [nvarchar](25) NOT NULL,
	[TEN] [nvarchar](25) NOT NULL,
	[GIOITINH] [nvarchar](25) NOT NULL,
	[SDT] [nvarchar](25) NULL,
	[EMAIL] [nvarchar](25) NULL,
 CONSTRAINT [PK_HANHKHACHes] PRIMARY KEY CLUSTERED 
(
	[HANHKHACHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHTRINHBAYs]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHTRINHBAYs](
	[LICHTRINHBAYID] [int] NOT NULL,
	[GIOKHOIHANHDUKIEN] [datetime] NOT NULL,
	[TGBAYDUKIEN] [float] NOT NULL,
	[SBDI] [varchar](5) NULL,
	[SBDEN] [varchar](5) NULL,
	[CHUYENBAYID] [int] NULL,
 CONSTRAINT [PK_LICHTRINHBAYs] PRIMARY KEY CLUSTERED 
(
	[LICHTRINHBAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIVEs]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIVEs](
	[LOAIVEID] [int] NOT NULL,
	[TEN] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_LOAIVEs] PRIMARY KEY CLUSTERED 
(
	[LOAIVEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANBAYs]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANBAYs](
	[SANBAYID] [varchar](5) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SANBAYs] PRIMARY KEY CLUSTERED 
(
	[SANBAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAMSOes]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSOes](
	[THAMSOID] [int] NOT NULL,
	[TEN] [nvarchar](25) NOT NULL,
	[GIATRI] [float] NOT NULL,
	[DONVI] [nvarchar](25) NOT NULL,
	[TINHTRANG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THAMSOes] PRIMARY KEY CLUSTERED 
(
	[THAMSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VEs]    Script Date: 6/12/2019 10:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VEs](
	[VEID] [nvarchar](12) NOT NULL,
	[LICHTRINHBAYID] [int] NULL,
	[LOAIVEID] [int] NULL,
	[HANHKHACHID] [varchar](12) NULL,
	[NGAYBAN] [datetime] NOT NULL,
 CONSTRAINT [PK_VEs] PRIMARY KEY CLUSTERED 
(
	[VEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BANGTRATHONGTINVEs]  WITH CHECK ADD  CONSTRAINT [FK_BANGTRATHONGTINVEs_LICHTRINHBAYs] FOREIGN KEY([LICHTRINHBAYID])
REFERENCES [dbo].[LICHTRINHBAYs] ([LICHTRINHBAYID])
GO
ALTER TABLE [dbo].[BANGTRATHONGTINVEs] CHECK CONSTRAINT [FK_BANGTRATHONGTINVEs_LICHTRINHBAYs]
GO
ALTER TABLE [dbo].[BANGTRATHONGTINVEs]  WITH CHECK ADD  CONSTRAINT [FK_BANGTRATHONGTINVEs_LOAIVEs] FOREIGN KEY([LOAIVEID])
REFERENCES [dbo].[LOAIVEs] ([LOAIVEID])
GO
ALTER TABLE [dbo].[BANGTRATHONGTINVEs] CHECK CONSTRAINT [FK_BANGTRATHONGTINVEs_LOAIVEs]
GO
ALTER TABLE [dbo].[CHITIETLICHTRINHBAYs]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLICHTRINHBAYs_CHUYENBAYs] FOREIGN KEY([CHUYENBAYKETIEPID])
REFERENCES [dbo].[CHUYENBAYs] ([CHUYENBAYID])
GO
ALTER TABLE [dbo].[CHITIETLICHTRINHBAYs] CHECK CONSTRAINT [FK_CHITIETLICHTRINHBAYs_CHUYENBAYs]
GO
ALTER TABLE [dbo].[CHITIETLICHTRINHBAYs]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLICHTRINHBAYs_LICHTRINHBAYs] FOREIGN KEY([LICHTRINHBAYID])
REFERENCES [dbo].[LICHTRINHBAYs] ([LICHTRINHBAYID])
GO
ALTER TABLE [dbo].[CHITIETLICHTRINHBAYs] CHECK CONSTRAINT [FK_CHITIETLICHTRINHBAYs_LICHTRINHBAYs]
GO
ALTER TABLE [dbo].[CHITIETLICHTRINHBAYs]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLICHTRINHBAYs_SANBAYs] FOREIGN KEY([SANBAYID])
REFERENCES [dbo].[SANBAYs] ([SANBAYID])
GO
ALTER TABLE [dbo].[CHITIETLICHTRINHBAYs] CHECK CONSTRAINT [FK_CHITIETLICHTRINHBAYs_SANBAYs]
GO
ALTER TABLE [dbo].[LICHTRINHBAYs]  WITH CHECK ADD  CONSTRAINT [FK_LICHTRINHBAYs_CHUYENBAYs] FOREIGN KEY([CHUYENBAYID])
REFERENCES [dbo].[CHUYENBAYs] ([CHUYENBAYID])
GO
ALTER TABLE [dbo].[LICHTRINHBAYs] CHECK CONSTRAINT [FK_LICHTRINHBAYs_CHUYENBAYs]
GO
ALTER TABLE [dbo].[LICHTRINHBAYs]  WITH CHECK ADD  CONSTRAINT [FK_LICHTRINHBAYs_SANBAYs_1] FOREIGN KEY([SBDI])
REFERENCES [dbo].[SANBAYs] ([SANBAYID])
GO
ALTER TABLE [dbo].[LICHTRINHBAYs] CHECK CONSTRAINT [FK_LICHTRINHBAYs_SANBAYs_1]
GO
ALTER TABLE [dbo].[LICHTRINHBAYs]  WITH CHECK ADD  CONSTRAINT [FK_LICHTRINHBAYs_SANBAYs_2] FOREIGN KEY([SBDEN])
REFERENCES [dbo].[SANBAYs] ([SANBAYID])
GO
ALTER TABLE [dbo].[LICHTRINHBAYs] CHECK CONSTRAINT [FK_LICHTRINHBAYs_SANBAYs_2]
GO
ALTER TABLE [dbo].[VEs]  WITH CHECK ADD  CONSTRAINT [FK_VEs_HANHKHACHes] FOREIGN KEY([HANHKHACHID])
REFERENCES [dbo].[HANHKHACHes] ([HANHKHACHID])
GO
ALTER TABLE [dbo].[VEs] CHECK CONSTRAINT [FK_VEs_HANHKHACHes]
GO
ALTER TABLE [dbo].[VEs]  WITH CHECK ADD  CONSTRAINT [FK_VEs_LICHTRINHBAYs] FOREIGN KEY([LICHTRINHBAYID])
REFERENCES [dbo].[LICHTRINHBAYs] ([LICHTRINHBAYID])
GO
ALTER TABLE [dbo].[VEs] CHECK CONSTRAINT [FK_VEs_LICHTRINHBAYs]
GO
ALTER TABLE [dbo].[VEs]  WITH CHECK ADD  CONSTRAINT [FK_VEs_LOAIVEs] FOREIGN KEY([LOAIVEID])
REFERENCES [dbo].[LOAIVEs] ([LOAIVEID])
GO
ALTER TABLE [dbo].[VEs] CHECK CONSTRAINT [FK_VEs_LOAIVEs]
GO
